@charset "utf-8";
html, body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-image: url("../img/bg.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-left: 1%;
  color: #333:
}

#head-title{
  z-index: 2;
  font-size: 26px;
  text-align: center;
  position: fixed;
  top:0.2%;
  left: 10%;
  right: 10%;
}
#search{
    z-index: 2;
    position: fixed;
    right: 5%;
    top: 2%;
}

#legenda{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  padding: 5px;
  position: fixed;
  top: 8%;
  left: 2.5%;
  right: 2.5%;
  display: block;
  text-align: center;
  font-weight: bold;
  color: black;      
}
.split {
  z-index: 1;
  top: 15%;
  height: 100%;
  width: 30%;
  position: fixed;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
#map{
  border: 6px solid #D7D7D7;
  position: fixed;
  height: 79%;
  width: 55%;
  left: 2.5%;
}
#markerInfo{
  z-index: 3;
  font-size: 12px;
  background-color: rgba(255,255,255,0.66);
  padding-top: 12px;
  padding-left: 12px;
  position: fixed;
  width: 38%;
  height: 79%;
  right:  2.5%;
  overflow: auto;
}
#speakButton{
  z-index:4;
  font-size: 11px;
  position: fixed;
  right: 5%;
}

#footer{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  font-size: 9px;
  text-align: center;
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 1%;
}