@charset "utf-8";
html, body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-image: url("img/bg.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-left: 1%;
  color: #333:
}

.split {
  z-index: 1;
  top: 15%;
  height: 100%;
  width: 30%;
  position: fixed;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

#article{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  font-size: 12px;
  position: fixed;
  left: 10%;
}

#map{
  border: 6px solid #D7D7D7;
  position: fixed;
  height: 79%;
  width: 55%;
  left: 2.5%;
}

#markerInfo{
  z-index: 3;
  background-color: rgba(255,255,255,0.66);
  padding-top: 12px;
  padding-left: 12px;
  position: fixed;
  width: 38%;
  height: 66.9%;
  right:  2.5%;
  overflow: auto;
}

#footer{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  font-size: 8px;
  position: fixed;
  left: 20%;
  bottom: 10%;
}
